*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration:none;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur265.cur), auto !important;
}

@font-face {
    font-family: 'Pixel Icons Compilation';
    src: url(Polices_site/Pixel\ Icons\ Compilation.ttf);
}
body{
    background-image:
    url(Images_site/sakura_tile.gif);
}
header{
    background-color: #FE74B0;
    padding-bottom: 0.1%;
}
#logo_big{
    display: flex;
    justify-content: center;
    flex-basis: content;
}
.interface_text, .menu_side , .info_card{
    font-family: "Akaya Kanadaka", system-ui;
}
.navig{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: larger;
    border: 2px solid #FF4D98;
}
.navig_options{
    display: flex;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    color: #FCF7FE;
    vertical-align: middle;
    
}
.navig_options:hover{
    color: #FDF7D6;
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat983.cur), auto !important;
}
.separation{
    font-family: Pixel Icons Compilation;
    padding-top: 0.1em;
    /* padding-bottom: 0.5%; */
    color: #FF4D98;
    padding-bottom: 0.2em;
    vertical-align: text-top;
    font-size: 95%;
}
.separation:hover{
    padding-top: 0em;
}

.Container {
    display: grid; 
    grid-template-columns: 20% 79%;
    gap: 0px 0.8%; 
  }
.Menu{
    background-color: #FF86B9;
    height: 100vh;
    
}
  .image_menu img{
    width: 100%;
}
.side_options{
    padding-bottom: 10%;
}

ul.side_options{
    margin-left: 10%;
    list-style-image: url(/Images_site/heartfelt.gif);
    list-style-position: outside;
}

.side_menu{
    display: flex;
    justify-content:space-between;
    margin-left: 5%;
}
.menu_titles{
    font-size: larger;
    color: #FAEDFC;
    text-decoration: underline;
}

.menu_side ul{
    color: #FCF7FE;
    text-align: justify;
    font-size: medium;
}
.menu_side li{
    margin-bottom: 2%;
}

.menu_side li:hover{
    background-color: #FE74B0;
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat983.cur), auto !important;
}

.titre_showcase{
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 1vw;
    text-align: center;
    background-color: #FCF7FE;
    color: #9D2763;
    text-decoration: underline;
    text-decoration-color: #FF86B9;
    font-size: 2.5ch;
}

.card_showcase {
    display: grid; 
    grid-template-columns: 24% 24% 24% 24%; 
    grid-template-rows: 8% 45ch 44ch;
    gap: 1px 1px 0px; 
    /* grid-template-areas: 
      "titre_showcase"
      "card1 card2 card3 card4"
      "card5 card6 card7 card8"; 
      grid-area:                 card_showcase; */
      background-color: #FCAFD9;
      width: 100%;
      height: 98vh;
      /* justify-items:stretch; */
      margin-top: 1vh;
      margin-bottom: 1vh;
      align-content: space-between;
      justify-content: center;
      
  }

  .card_showcase div{
    font-family: "Delius", serif;
    font-weight: 400;
    font-style: normal;
    
  }

.card div{
    vertical-align: middle;
    text-align: center;
    height: 50%;
}
.card:hover{
    background-image: url(Images_site/glitter_snow.gif);
}
.card img{
    height: 60%;
    border: 2.75px solid #FCF7FE;
}
.card img:hover{
    cursor: url(https://cur.cursors-4u.net/smilies/smi-1/smi58.cur), auto !important;
}

.bas_text{
    display: flex;
    justify-content: space-around;
    background-color: #FCF7FE;
    padding-bottom: 0.5vh;
    vertical-align: bottom;
}
.bas_text:hover{
    background-image: url(Images_site/glitter_snow.gif);
}
.bas_options{
    color: #FEC6DB;
}
.bas_options:hover{
    color: #FF86B9;
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat983.cur), auto !important;
}

@media only screen and(max-width: 320px){
    /* .image_menu img{
        max-width: 320px;
    }
    .card_showcase{
        max-width: 320px;
    } */
    /* .card_showcase{
        max-width: 320px;
    } */
    *{
        max-width: 320px;
        overflow: auto;
        padding: 0;
        margin: 0;
    }
    header{
        width: 100vmax !important;
    }
    .navig{
        font-size: 20px;
        padding: 0 !important;
    }
    .navig_options{
        padding: 0 !important;
    }
    .separation{
        font-size: 0.5rem;
        padding: 0 !important;
    }
    .side_menu {
        display: grid;
        max-width: 100vh; 
        grid-template-columns: 10% 90%;
        gap: 0 0; 
    }
    .card_showcase{
        grid-template-columns: 14% 14%; 
        grid-template-rows: 2% 24% 24% 24% 24%;
        gap: 1px 1px;
        margin: none;
    }
    .titre_showcase{
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 1%;
    }
    .card div{
        justify-content: center;
    }
    .card img{
        height: 20%;
    }

}/*Rien ne marche comme prévu...
   Et je ne sais même pas pourquoi ! Splendid ! 
   Hoping to be &#9904 soon */

/* Page 2 only : */
.Corps {
    display: grid; 
    grid-template-columns: 35vw 55vw; 
    grid-template-rows: 98vh; 
    gap: 0px 0px; 
    justify-items: stretch;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 0.8%;
    margin-right: 0.8%;
    max-width: 97vw;
    grid-template-areas: 
      "card info_card"; 
      background-color: #FCAFD9;
      background-image: url(Images_site/pink_shrooms.gif);
  }
#card7-BIG {
    /* grid-area: card; */
    height: 80%;
    vertical-align: middle;
    padding: 2%;
}
.info_card {
    display: grid; 
    grid-template-columns: 90%; 
    grid-template-rows: 10% 90%; 
    gap: 0px 0px; 
    
    /* grid-template-areas: 
        "card_name"
        "card_bio"; 
    grid-area: info_card;  */
}
.card_name {
    /* grid-area: card_name;  */
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 2%;
    font-size: 200%;
    background-color: #FF86B9;
    color: #FAEDFC;
    text-decoration: underline;
}
.card_bio {
    /* grid-area: card_bio; */
    color: #FFFCDF;
    font-size: 190%;
    text-align: justify;
    background-color: #FCAFD9;
    height: 80%;
}
.rating{
    text-align: center;
    font-size: 0.9em;
    color: #FAEDFC;
}
span.stars{
    color: #FCF7FE;
}
/* Uuuuuuuuuuuuuuuuuuuuuugh */